#home {
  width: 700px;
  height: 700px;
  background-image: url("../img/start.jpeg");
  background-size: auto 700px;
  background-repeat: no-repeat;
  background-color: lightblue;
  background-position: center center;
  padding: 0;
  margin: 03;
}
#headline {
  color: white;
  text-shadow: 2px 2px 5px black;
}
.cont {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.884);
}
canvas {
  box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.151);
}
button {
  background-color: transparent;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.479);
  border-color: white;
  color: white;
  bottom: 0;
  height: 30px;
  font-size: 12pt;
  width: 90px;
}
button:hover {
  background-color: orange;
}

button:disabled {
  background-color: grey;
}

p {
  font-family: Helvetica;
  font-weight: bold;
  width: 250px;
  margin: 18px 0 5px 8px;
  float: left;
}

.game {
  margin: 0 auto;
}
